@page "/TestFileUpload"
@using System.IO

<h3>DocumentUploadComponent</h3>

<SfUploader AutoUpload="false">
    <UploaderEvents ValueChange="OnChange"></UploaderEvents>
</SfUploader>


<ul>
    @foreach (var documents in documentList)
    {
        <li>@documents.DocumentName of type @documents.DocumentType</li>
    }
</ul>


@code {

    [Parameter]
    public IEnumerable<DocumentsUserModel> documentList { get; set; }=null;

    DocumentsUserModel documents = new DocumentsUserModel();



    private void OnChange(UploadChangeEventArgs args)
    {
        //Max Bytes
        int maxBytes = 256 * 1024 * 1024;
        foreach (var file in args.Files)
        {

            var path = @"path" + file.FileInfo.Name;
            FileStream filestream = new FileStream(path, FileMode.Create, FileAccess.Write);
            file.Stream.WriteTo(filestream);

            //Set Parameter
            documents.FKProject = tbld;

            //Save to Byte Array
            byte[] byteArray = file.Stream.ToArray();
            documents.Document = byteArray;

            //Save Upload Date
            DateTime dateTime = DateTime.UtcNow;
            documents.DateUploaded = dateTime;

            //Save FileName
            documents.DocumentName = file.FileInfo.Name;

            //Save FileType
            documents.DocumentType = Path.GetExtension(file.FileInfo.Name);

            //Save File Description
            documents.DocumentDescription = file.FileInfo.RawFile.ToString();


            file.Stream.WriteTo(filestream);
            filestream.Close();
            file.Stream.Close();
        }
    }

}
