@using BibleStudyAidMVC.ViewModels

@model IEnumerable<DailyBibleReadingViewModel>

@{
    ViewData["Title"]=" New Daily Bible Reading";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

@*Styles*@
@section Styles{

}

<hr>
<div>
    @(await Html.RenderComponentAsync<BibleStudyAidMVC.Views.Shared.Component.DailyBibleReadingTable>(RenderMode.ServerPrerendered,new{DailyBibleReadingList=@Model.ToList(),ControllerName="NewDailyBibleReading",ActionName="Edit"}))
</div>

<div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Accordion Item #1
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>
    </div>
</div>

<br />
<a asp-action="Create" class="p-2"><input class="btn btn-primary" value="Create Daily Bible Reading Entry"/></a>