@page "/dailybiblereading/{Id:int}"
@inject HttpClient Http
@using BibleStudyBWAUI.ViewModels


<h3>Daily BibleReading</h3>

<h4>Start Scripture</h4>
<h4>@dailyBibleReading?.ScriptureStartPoint</h4>

<h4>End Scripture</h4>
<h4>@dailyBibleReading?.ScriptureEndPoint</h4>

<h4>Lesson Learned</h4>
<h4>@dailyBibleReading?.LessonLearnedDescription</h4>

<h4>FK</h4>
<h4>@dailyBibleReading?.PKIdtblDailyBibleReadings</h4>

<!--Child Elements to Daily Bible Reading-->
<!--References-->
<CascadingValue Value=@dailyBibleReading?.ReferencesList>
    <ReferenceListComponent tblId=@dailyBibleReading?.ReferencesList />
</CascadingValue>


<!--Document Upload-->
<CascadingValue Value=@dailyBibleReading?.DocumentsList>
    <DocumentUploadComponent tblId=@dailyBibleReading?.DocumentsList />
</CascadingValue>


    @code {
        [Parameter]
        public int Id { get; set; }



        private DailyBibleReadingAllViewModel dailyBibleReading { get; set; }

        protected override async Task OnInitializedAsync()
        {
            dailyBibleReading = await Http.GetFromJsonAsync<DailyBibleReadingAllViewModel>($"https://localhost:5001/api/dailybiblereading/{Id}");


            base.OnInitialized();
        }

    }
