@page "/dailybiblereading"
@inject HttpClient Http


<h3>Daily Bible Reading</h3>

@if (dailyBibleReadingList == null)
{
    <div id="loading">Loading...</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Lesson Learned</th>
                <th>Starting Scripture</th>
                <th>Ending Scripture</th>
            </tr>
        </thead>
        @foreach (var item in dailyBibleReadingList)
        {
            <tbody>
                <tr>
                    <td><a href="@($"/dailybiblereading/{item.Id}")" class="nav-link">@item.LessonLearnedDescription</a></td>
                    <td>@item.ScriptureStartPoint</td>
                    <td>@item.ScriptureEndPoint</td>
                </tr>
            </tbody>
        }

    </table>
}

<br />
<br />
<NavLink class="nav-link" href="dailybiblereading/add">
    <span class="oi oi-plus" aria-hidden="true"></span> Add Bible Reading Record
</NavLink>

@code {
    private IEnumerable<DailyBibleReadingViewModel> dailyBibleReadingList;



    protected override async Task OnInitializedAsync()
    {
        dailyBibleReadingList = await Http.GetFromJsonAsync<IEnumerable<DailyBibleReadingViewModel>>("https://localhost:5001/api/dailybiblereading/");
    }

}
